# Environnement virtuel
.venv/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Données générées
data/intermediate/*
data/outputs/*

# dossiers vides
!data/intermediate/.gitkeep
!data/outputs/.gitkeep

data/model_results_final.csv

# --- Generated outputs ---
executed_notebooks/
data/model_results_final.csv

# --- OS ---
desktop.ini
